version:                                '3'
services:
    mysql:
        environment:
            MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
            MYSQL_DATABASE:             'bilemo'
            MYSQL_USER:                 'bilemo'
            MYSQL_PASSWORD:             'bilemo'

    blackfire:
        environment:
          BLACKFIRE_SERVER_ID:          xxxxxxxxxx
          BLACKFIRE_SERVER_TOKEN:       xxxxxxxxxx
